.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #428bca;
  border-right: 16px solid #5cb85c;
  border-bottom: 16px solid #d9534f;
  border-left: 16px solid #F89406;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
